.section-center {
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 40rem;
    margin: 3rem auto;
    padding: 2rem;

    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

h2.center-title{
    display: grid;
    align-items: center;
    justify-content: center;
    font-family: arial;
    font-size: 2rem;
}

.input-bar{
    width: 30rem;
    height: 100%;
    margin: 0 auto;
    padding-left: 1rem;
    box-sizing:border-box;

    background-color: rgb(235, 239, 253);

    font-size: 1.2rem;

    border-radius: 5px 0 0 5px;
    border: none;
}

.input-bar:focus{
    border-radius: 5px 0 0 5px;

}

.submit-btn{ 
    display: block; 
    margin: 0 auto;
    width: 6.0rem;
    height:100%;
    padding: auto;
    justify-content: center;
    align-items: top;
    border-radius: 0 5px 5px 0;
    border-color: black;
    border-left: none; 
    border: none;
    font-size: .9rem;
    background-color: rgb(176, 194, 253);
    cursor: pointer;
}



.input-container{
    height:2rem;
    display:flex;

    align-items: center;
    justify-content: center;

    
}


.hidden-container{
    visibility: hidden;
}

.show-container{
    visibility: visible;
}

.grocery-item{
    display: flex;
    width:100%;
    height:2rem;
    margin-top:1rem;

}

.grocery-item:hover{
    background-color: #f3f3f3;
}

.grocery-items-container{
    width:100%;
    
}
.grocery-title{
    line-height: 30%;
    width:100%;
    padding-left:1rem;
    font-family: arial;
}

.item-btn-container{
    display: flex;
    align-items: right;
    justify-content: right;
    padding-right: 1rem;
}

body{
    background-color: rgb(233, 238, 255);
}

.clear-btn{
    
    margin-top: 1rem;
    width:10rem;
    background-color: white;
    border: none;
    font-family: arial;
    font-size: 1.3rem;
    height: 2rem;
    border-radius: 5px;
    text-align: center;
    color:#be4551;
    margin-left: auto;
    margin-right: auto;
}

.clear-btn:hover{
    background-color: #f3f3f3;
    cursor:pointer;
}

.edit-btn{
    background: url(https://upload.wikimedia.org/wikipedia/commons/6/64/Edit_icon_%28the_Noun_Project_30184%29.svg);
    background-color: none;
    background-size: contain;



    width:1.8rem;
    height: 1.9rem;

    margin-top:.085rem;

    border: none;
}

.remove-btn{
    background: url(https://cdn-icons-png.flaticon.com/512/1345/1345823.png);
    background-color: none;
    background-size: contain;

    margin-top:.15rem;
    width:1.8rem;
    height: 1.65rem;

    border: none;
}

.remove-btn:hover{
    cursor: pointer;
}

.edit-btn:hover{
    cursor: pointer;
}

.alert{
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: arial;
    margin:0;
    margin-top:.5rem;
    height: 1.7rem;
    border-radius: .7rem;

}

.alert-danger{
    background:rgb(248, 125, 125);
    color:#721c24;
}

.alert-success{
    background:#81f79a;
    color:#006405
}